/*a.meanmenu-reveal{display:none;}*/
.mean-container .mean-bar{float: right;
    position: absolute;
    width: 95%;
    top:-6x;
    right: 9px;
    padding: 4px 0;
    min-height: 26px;
    height: 17px;
    margin-top: 12px;
    z-index: 99;
}
.mean-container a.meanmenu-reveal{width:22px;height:23px;padding:11px;position:absolute;top:36px;right:0;cursor:pointer;color:#000;text-decoration:none;font-size:18px;text-indent:-9999em;line-height:22px;font-size:1px;display:block;background:#ffd102;z-index:999999999;font-weight:bold; border-radius:5px;}
.mean-container a.meanmenu-reveal span{display:block;background:#000;height: 2px;margin-top:3px;}
.mean-container .mean-nav{float:left;width:100%;margin-top: 44px;}
.mean-container .mean-nav ul{padding:0;width:100%;list-style-type:none;}
.mean-container .mean-nav ul li{position:relative;float:left;background:#000;font-family:"Tw Cen MT Condensed";width:100%;}
.mean-container .mean-nav #home a{width:100%;max-width:100%;height:18px;line-height:70px;margin-top:8px;background:url(../images/home_icon.png);background-repeat:no-repeat;background-position:top left;display:block;text-align:center;text-decoration:none;}
.mean-container .mean-nav #home a:hover, .home a.selected{background:url(../images/home_icon_hvr.png);background-position:top left;background-repeat:no-repeat;vertical-align:top;}
.mean-container .mean-nav h1{font-size:0px;}
nav h1 a{margin:0px;left:5px;background:url(../images/smvoivologo.png) no-repeat;visibility:visible!important;display:block !important;font-size:0px;width:213px;height:46px;position:absolute;top:-1px;}
@media screen and (min-width:768px){nav h1 a{margin:0px;left:5px;background:url(../images/smvoivologo.png) no-repeat;visibility:hidden!important;display:none !important;font-size:0px;width:213px;height:46px;position:absolute;top:-1px;}
}
.mean-container .mean-nav ul li a{display:block;float:left;width:96%;padding:2%;margin:0;text-align:left;color:#FFFFFF;font-size:14px;font-weight:normal;border-bottom:1px solid #383838;border-bottom:1px solid rgba(255,255,255,0.5);text-decoration:none;text-transform:uppercase; font-family:Arial, Helvetica, sans-serif}
.mean-container .mean-nav ul li li a{width:80%;visibility:visible; margin-left:25px; padding-left:20px; background:url(../images/arro-w.png) no-repeat 10px; border-bottom:none}
.mean-container .mean-nav ul li.mean-last a{border-bottom:none;margin-bottom:0;}
.mean-container .mean-nav ul li li li a{width:70%;padding:1em 15%;}
.mean-container .mean-nav ul li li li li a{width:60%;padding:1em 20%;}
.mean-container .mean-nav ul li li li li li a{width:50%;padding:1em 25%;}
.mean-container .mean-nav ul li a:hover{background:#fff; color:#000; }
.mean-container .mean-nav ul li a.mean-expand{width:26px;height:26px;border:none !important;padding:6px 15px !important;text-align:center;position:absolute;right:0;top:0;z-index:2;font-weight:700;}
.mean-container .mean-nav ul li a.mean-expand:hover{background: #fff;}
.mean-container .mean-push{float:left;width:100%;padding:0;margin:0;clear:both;}
.mean-nav .wrapper{width:100%;padding:0;margin:0;}
.mean-container .mean-bar, .mean-container .mean-bar *{box-sizing:content-box;}
