<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Cromana</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel = "icon" href ="#" type = "image/x-icon">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexisel.js' %}"></script>
</head>

<body>

    <!-- Navbar Started -->
    {% include "components/navbar.html" with is_authenticated=is_authenticated role=role %}
    <!-- Navbar Ended -->

    <!-- Register Start -->
    <div style="background: url({% static 'images/banner4.png' %})no-repeat; padding: 30px 0px; background-position: 20% 0%;">
        <div style="min-width: 280px; max-width: 500px;
                    height: 500px; box-shadow: 0px 3px 7px 0px black;
                    border-radius: 5px; margin: auto;">
            <h1 style="color: white; text-align: center; padding-top: 10px">Register</h1>
            <div style="color: white; margin: 10% 5%">
                <div class="row">
                    <div class="col form-check" style="text-align: center;">
                        <img src="{% static 'images/school.png' %}" height="50px" width="50px" style="margin-right: 15px">
                        <br>
                        <label style="margin-right: 10px">Job Seeker</label>
                        <br>
                        <br>
                        <input class="form-check-input" type="radio" name="Radios" id="Radios1" value="jobseeker" style="height:25px; width:25px; vertical-align: middle;" checked>
                    </div>
                    <div class="col form-check" style="text-align: center">
                        <img src="{% static 'images/briefcase.png' %}" height="50px" width="50px" style="margin-right: 15px">
                        <br>
                        <label style="margin-right: 10px">Company</label>
                        <br>
                        <br>
                        <input class="form-check-input" type="radio" name="Radios" id="Radios2" value="company" style="height:25px; width:25px; vertical-align: middle;">
                    </div>
                </div>
                <div style="text-align: center; margin-top: 20%">
                    <button type="submit" id="loginButton" onclick="next()" class="btn btn-primary" style="background-color: #ffd102; color: black; border: none;">Next</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Register End -->
    
    <!-- FOOTER STARTED -->
    {% include "components/footer.html" %}
    <!-- END FOOTER -->

</body>

    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery('.row .menu').meanmenu();

    });
    </script>
    
    <script>

        function next(){
            if($("input[name='Radios']:checked").val() == "jobseeker"){
                document.location.href = "{% url 'register-jobseeker' %}";
            }
            else{
                document.location.href = "{% url 'register-company' %}";
            }
        }

    </script>
</html>