<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Cromana</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel = "icon" href ="#" type = "image/x-icon">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media.css' %}" />
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}" />
    <link  rel="stylesheet" href="{% static 'css/slider.css' %}" />
    <link  rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/telephone.css'%}">
    <link rel="stylesheet" href="{% static 'css/multiselect-dropdown.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/richtext.min.css' %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery.richtext.js' %}"></script>
    <script src="{% static 'js/jquery.flexisel.js' %}"></script>

</head>

<style>
    /*Profile Pic Start*/
    .picture-container{
        position: relative;
        cursor: pointer;
        text-align: center;
    }
    .picture{
        width: 150px;
        height: 106px;
        background-color: #999999;
        border: 4px solid #CCCCCC;
        color: #FFFFFF;
        border-radius: 10%;
        margin: 0px auto;
        overflow: hidden;
        transition: all 0.2s;
        -webkit-transition: all 0.2s;
    }
    .picture:hover{
        border-color: #2ca8ff;
    }
    .picture input[type="file"] {
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0 !important;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .picture-src{
        width: 100%;
        
    }
    /*Profile Pic End*/

</style>
<script>
    $(function() {
        $(".InputMobileClass").intlTelInput({
            allowDropdown:true,
            autoHideDialCode:true,
            autoPlaceholder: false,
            dropdownContainer:null,
            formatOnDisplay:true,
            geoIpLookup:null,
            defaultCountry: "auto",
            ipinfoToken: "yolo",
            nationalMode: true,
            numberType: "MOBILE",
            preferredCountries: ['in'],
            preventInvalidNumbers: true,
            utilsScript: "lib/libphonenumber/build/utils.js"
        });
    });
    
</script>
<body>
    <!-- Navbar Started -->
    {% include "components/navbar.html" with is_authenticated=is_authenticated role=role %}
    <!-- Navbar Ended -->

    <!-- Section Started -->
    <div style="background-color: #F0F0F0">
        <div class="row" style="min-height: 88vh; margin: 0px">
            <div class="col-sm-3" style="background-color: #212529; padding: 0px;">
                <div style="padding: 10% 15%; text-align: center;">
                    <img src="/media/{{ company.image }}" style="width: 70%; max-height: 180px">
                </div>
                <hr style="height: 1px; background: #ffd102; width: 90%; margin: 5% auto">
                <div style="text-align: center">
                    <button type="submit" id="detailsButton" onclick="window.location.href='{% url 'company-company-details' %}'" class="btn btn-outline-warning" style="width: 100%; margin: 2% 0%; border: 2px solid black; text-align: left">
                        <span style="margin-left: 8%">Company Details</span>
                    </button>
                    <button type="submit" id="newJobButton" onclick="window.location.href='{% url 'create-new-job' %}'" class="btn btn-outline-warning" style="width: 100%; margin: 2% 0%; border: 2px solid black;text-align: left">
                        <span style="margin-left: 8%">Create New Job</span>
                    </button>
                    <button type="submit" id="jobListButton" onclick="window.location.href='{% url 'company-job-list' %}'" class="btn btn-outline-warning" style="width: 100%; margin: 2% 0%; border: 2px solid black;text-align: left">
                        <span style="margin-left: 8%">All Created Job</span>
                    </button>
                </div>
            </div>
            <div class="col" style="height: 88vh; overflow-y: auto;">
                <h2 style="margin: 3%; text-align:center">Create New Job</h2>
                <form method="POST" enctype="multipart/form-data" style="margin-top: 5%">
                    {% csrf_token %}
                    <div class="row" style="padding-top: 20px">
                        <div class="col-sm form-group" style="padding: 0% 8%">
                            <label for="InputTitle">Job Title</label>
                            <input type="text" name="title" class="valid form-control" id="InputTitle" aria-describedby="titleHelp" placeholder="Enter Job Title" required>
                            <small id="titleHelp" class="text-danger" style="font-size: 15px"></small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" style="padding: 0% 8%">
                            <label for="InputMinExp">Experience (Year)</label>
                            <div class="row">
                                <div class="form-group col">
                                    <input type="number" min="0" name="minexp" class="form-control" id="InputMinExp" placeholder="Min. Exp." required>
                                    <small id="minExpHelp" class="text-danger" style="font-size: 15px"></small>
                                </div>
                                <div class="form-group col">
                                    <input type="number" min="0" name="maxexp" class="form-control" id="InputMaxExp" placeholder="Max. Exp." required>
                                    <small id="maxExpHelp" class="text-danger" style="font-size: 15px"></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InputPackage">Package (LPA)</label>
                                <input type="number" min="0" name="package" class="form-control valid" id="InputPackage" aria-describedby="packageHelp" placeholder="Enter Package (in LPA)" required>
                                <small id="packageHelp" class="text-danger" style="font-size: 15px"></small>
                            </div>
                            <div class="form-group">
                                <label for="InputApplyBefore">Apply Before</label>
                                <input type="date" class="form-control valid" name="applybefore" id="InputApplyBefore" aria-describedby="applyBeforeHelp" required>
                                <small id="applyBeforeHelp" class="text-danger" style="font-size: 15px"></small>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="parttime" id="InputPartTime">
                                <label class="form-check-label" for="InputPartTime">Part Time Job</label>
                            </div>
                        </div>
                        <div class="col-sm"  style="padding: 0% 8%">
                            <label for="InputEmail">Office Hours - Start/End Time</label>
                            <div class="row">
                                <div class="form-group col">
                                    <input type="time" class="form-control" name="startoffice" id="InputMinExp" placeholder="Min. Exp." required>
                                </div>
                                <div class="form-group col">
                                    <input type="time" class="form-control" name="endoffice" id="InputMaxExp" placeholder="Max. Exp." required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="InputNoOfOpening">Number of Opening</label>
                                <input type="number" name="no_of_opening" min="1" class="valid form-control" id="InputNoOfOpening" aria-describedby="openingHelp" placeholder="Enter No of Opening" required>
                                <small id="openingHelp" class="text-danger" style="font-size: 15px"></small>
                            </div>
                            <div class="form-group">
                                <label for="InputGender">Gender Preferred</label>
                                <select name="gender" id="InputGender" class="valid form-control" aria-describedby="genderHelp" required>
                                    <option value="" selected>Choose Gender</option>
                                    <option value="MALE">Male Only</option>
                                    <option value="FEMALE">Female Only</option>
                                    <option value="BOTH">All Preferred</option>
                                </select>
                                <small id="genderHelp" class="text-danger" style="font-size: 15px"></small>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="draft" class="form-check-input" id="InputDraft">
                                <label class="form-check-label" for="InputDraft">Make Draft</label>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" style="margin-top: 2%">
                        <div class="col-sm" style="padding: 0% 8%">
                            <label for="choices-multiple-remove-button">Locations</label>
                            <div class="form-group">
                                <select id="choices-multiple-remove-button" name="locations" placeholder="Select upto 5 Locations" multiple required>
                                    {% for location in locations %}
                                        <option value="{{ location.id }}">{{ location.location }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm" style="padding: 0% 8%">
                            <label for="choices-multiple-remove-button">Required Skills</label>
                            <div class="form-group">
                                <select id="choices-multiple-remove-button" name="skills" placeholder="Select upto 5 Skills" multiple required>
                                    {% for skill in skills %}
                                        <option value="{{ skill.id}}">{{ skill.skill }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center" style="margin-top: 1%">
                        <div class="col-sm" style="padding: 0% 8%">
                            <label for="choices-multiple-remove-button">Linguistic Languages</label>
                            <div class="form-group">
                                <select id="choices-multiple-remove-button" name="linguistic" placeholder="Select upto 5 Languages" multiple required>
                                    {% for linguistic in linguistics %}
                                        <option value="{{ linguistic.id }}">{{ linguistic.language }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-sm" style="padding: 0% 8%">
                            <label for="choices-multiple-remove-button">Weekly days off</label>
                            <div class="form-group">
                                <select id="choices-multiple-remove-button" name="weekoff" placeholder="Select upto 5 week days" multiple required>
                                    <option value="SUNDAY">Sunday</option>
                                    <option value="MONDAY">Monday</option>
                                    <option value="TUESDAY">Tuesday</option>
                                    <option value="WEDNESDAY">Wednesday</option>
                                    <option value="THURSDAY">Thursday</option>
                                    <option value="FRIDAY">Friday</option>
                                    <option value="SATURDAY">Saturday</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 5%">
                        <div class="col-sm" style="padding: 0% 8%">
                            <div class="form-group">
                                <label for="InputRoleResponsibility">Role Responsibility</label>
                                <textarea class="content" id="InputRoleResponsibility" name="role_responsibility"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" style="padding: 0% 8%">
                            <div class="form-group">
                                <label for="InputRequirements">Requirements from your side</label>
                                <textarea class="content1" id="InputRequirements" name="requirements"></textarea>
                            </div>
                        </div>
                    </div>
                    <div style="text-align: center">
                        {% for key,value in error.items %}
                            <small class="text-danger" style="font-size: 15px">{{ key }} : {{ value.0 }}</small>
                        {% endfor %}
                        <br>
                        <button type="submit" id="registerButton" class="btn btn-primary" style="background-color: #ffd102; color: black; border: none; margin-bottom: 5%">Create Job Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Senction Ended -->

    <!-- FOOTER STARTED -->
    {% include "components/footer.html" %}
    <!-- END FOOTER -->

   <script>
    $(window).load(function() {

        $("#flexiselDemo3").flexisel({
            visibleItems: 4,
            itemsToScroll: 1,
            autoPlay: {
                enable: true,
                interval: 1500,
                pauseOnHover: true
            }
        });
    });
    </script>

    <script>
        new WOW().init();
    </script>
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <script src="{% static 'js/create-new-job.js' %}"></script>
    <script src="https://www.jqueryscript.net/demo/jQuery-International-Telephone-Input-With-Flags-Dial-Codes/build/js/intlTelInput.js"></script>
    <script>
    $(document).ready(function(){
        var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
            removeItemButton: true,
            maxItemCount:5,
            searchResultLimit:5,
            renderChoiceLimit:5
        });
        {% if success %}
            alert("{{ success }}");
        {% endif %}
    });
    </script>
    <script>
    jQuery(document).ready(function(){
        jQuery('.row .menu').meanmenu();

    });
    
    $(document).ready(function() {
        $('.content').richText({
            // text formatting
            bold: true,
            italic: true,
            underline: true,

            // text alignment
            leftAlign: true,
            centerAlign: true,
            rightAlign: true,
            justify: true,

            // lists
            ol: true,
            ul: true,

            // title
            heading: true,

            // fonts
            fonts: true,
            fontList: ["Arial",
                "Arial Black",
                "Comic Sans MS",
                "Courier New",
                "Geneva",
                "Georgia",
                "Helvetica",
                "Impact",
                "Lucida Console",
                "Tahoma",
                "Times New Roman",
                "Verdana"
            ],
            fontColor: true,
            fontSize: true,

            // uploads
            imageUpload: false,
            fileUpload: false,


            // link
            urls: false,

            // tables
            table: false,

            // code
            removeStyles: true,
            code: true,


            // dropdowns
            fileHTML: '',
            imageHTML: '',

            // translations
            translations: {
                'title': 'Title',
                'white': 'White',
                'black': 'Black',
                'brown': 'Brown',
                'beige': 'Beige',
                'darkBlue': 'Dark Blue',
                'blue': 'Blue',
                'lightBlue': 'Light Blue',
                'darkRed': 'Dark Red',
                'red': 'Red',
                'darkGreen': 'Dark Green',
                'green': 'Green',
                'purple': 'Purple',
                'darkTurquois': 'Dark Turquois',
                'turquois': 'Turquois',
                'darkOrange': 'Dark Orange',
                'orange': 'Orange',
                'yellow': 'Yellow',
                'imageURL': 'Image URL',
                'fileURL': 'File URL',
                'linkText': 'Link text',
                'url': 'URL',
                'size': 'Size',
                'responsive': '<a href="https://www.jqueryscript.net/tags.php?/Responsive/">Responsive</a>',
                'text': 'Text',
                'openIn': 'Open in',
                'sameTab': 'Same tab',
                'newTab': 'New tab',
                'align': 'Align',
                'left': 'Left',
                'justify': 'Justify',
                'center': 'Center',
                'right': 'Right',
                'rows': 'Rows',
                'columns': 'Columns',
                'add': 'Add',
                'pleaseEnterURL': 'Please enter an URL',
                'videoURLnotSupported': 'Video URL not supported',
                'pleaseSelectImage': 'Please select an image',
                'pleaseSelectFile': 'Please select a file',
                'bold': 'Bold',
                'italic': 'Italic',
                'underline': 'Underline',
                'alignLeft': 'Align left',
                'alignCenter': 'Align centered',
                'alignRight': 'Align right',
                'addOrderedList': 'Add ordered list',
                'addUnorderedList': 'Add unordered list',
                'addHeading': 'Add Heading/title',
                'addFont': 'Add font',
                'addFontColor': 'Add font color',
                'addFontSize': 'Add font size',
                'addImage': 'Add image',
                'addVideo': 'Add video',
                'addFile': 'Add file',
                'addURL': 'Add URL',
                'addTable': 'Add table',
                'removeStyles': 'Remove styles',
                'code': 'Show HTML code',
                'undo': 'Undo',
                'redo': 'Redo',
                'close': 'Close'
            },

            // privacy
            youtubeCookies: false,

            // dev settings
            useSingleQuotes: false,
            height: 0,
            heightPercentage: 0,
            id: "",
            class: "",
            useParagraph: false,
            maxlength: 0,

            // callback function after init
            callback: undefined
        });
        $('.content1').richText({
            // text formatting
            bold: true,
            italic: true,
            underline: true,

            // text alignment
            leftAlign: true,
            centerAlign: true,
            rightAlign: true,
            justify: true,

            // lists
            ol: true,
            ul: true,

            // title
            heading: true,

            // fonts
            fonts: true,
            fontList: ["Arial",
                "Arial Black",
                "Comic Sans MS",
                "Courier New",
                "Geneva",
                "Georgia",
                "Helvetica",
                "Impact",
                "Lucida Console",
                "Tahoma",
                "Times New Roman",
                "Verdana"
            ],
            fontColor: true,
            fontSize: true,

            // uploads
            imageUpload: false,
            fileUpload: false,


            // link
            urls: false,

            // tables
            table: false,

            // code
            removeStyles: true,
            code: true,


            // dropdowns
            fileHTML: '',
            imageHTML: '',

            // translations
            translations: {
                'title': 'Title',
                'white': 'White',
                'black': 'Black',
                'brown': 'Brown',
                'beige': 'Beige',
                'darkBlue': 'Dark Blue',
                'blue': 'Blue',
                'lightBlue': 'Light Blue',
                'darkRed': 'Dark Red',
                'red': 'Red',
                'darkGreen': 'Dark Green',
                'green': 'Green',
                'purple': 'Purple',
                'darkTurquois': 'Dark Turquois',
                'turquois': 'Turquois',
                'darkOrange': 'Dark Orange',
                'orange': 'Orange',
                'yellow': 'Yellow',
                'imageURL': 'Image URL',
                'fileURL': 'File URL',
                'linkText': 'Link text',
                'url': 'URL',
                'size': 'Size',
                'responsive': '<a href="https://www.jqueryscript.net/tags.php?/Responsive/">Responsive</a>',
                'text': 'Text',
                'openIn': 'Open in',
                'sameTab': 'Same tab',
                'newTab': 'New tab',
                'align': 'Align',
                'left': 'Left',
                'justify': 'Justify',
                'center': 'Center',
                'right': 'Right',
                'rows': 'Rows',
                'columns': 'Columns',
                'add': 'Add',
                'pleaseEnterURL': 'Please enter an URL',
                'videoURLnotSupported': 'Video URL not supported',
                'pleaseSelectImage': 'Please select an image',
                'pleaseSelectFile': 'Please select a file',
                'bold': 'Bold',
                'italic': 'Italic',
                'underline': 'Underline',
                'alignLeft': 'Align left',
                'alignCenter': 'Align centered',
                'alignRight': 'Align right',
                'addOrderedList': 'Add ordered list',
                'addUnorderedList': 'Add unordered list',
                'addHeading': 'Add Heading/title',
                'addFont': 'Add font',
                'addFontColor': 'Add font color',
                'addFontSize': 'Add font size',
                'addImage': 'Add image',
                'addVideo': 'Add video',
                'addFile': 'Add file',
                'addURL': 'Add URL',
                'addTable': 'Add table',
                'removeStyles': 'Remove styles',
                'code': 'Show HTML code',
                'undo': 'Undo',
                'redo': 'Redo',
                'close': 'Close'
            },

            // privacy
            youtubeCookies: false,

            // dev settings
            useSingleQuotes: false,
            height: 0,
            heightPercentage: 0,
            id: "",
            class: "",
            useParagraph: false,
            maxlength: 0,

            // callback function after init
            callback: undefined
        });
    });
    </script>
</body>
</html>
