<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="#" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/media.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/slider.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/animate.min.css'%}"/>
    <link rel="stylesheet" href="{% static 'css/multiselect-dropdown.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexisel.js' %}"></script>
          <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>jobs</title>
</head>
<script>
    $(function() {
        {% if exp == "any" %}
            $("#Experience").prop('selectedIndex', 0);
        {% elif exp == "0" %}
            $("#Experience").prop('selectedIndex', 1);
        {% elif exp == "1" %}
            $("#Experience").prop('selectedIndex', 2);
        {% elif exp == "2" %}
            $("#Experience").prop('selectedIndex', 3);
        {% elif exp == "3" %}
            $("#Experience").prop('selectedIndex', 4);
        {% elif exp == "5" %}
            $("#Experience").prop('selectedIndex', 5);
        {% elif exp == "10" %}
            $("#Experience").prop('selectedIndex', 6);
        {% endif %}
    });
</script>
<script>
    $(function() {
        {% if salary == "any" %}
            $("#Salary").prop('selectedIndex', 0);
        {% elif salary == "1" %}
            $("#Salary").prop('selectedIndex', 1);
        {% elif salary == "2" %}
            $("#Salary").prop('selectedIndex', 2);
        {% elif salary == "3" %}
            $("#Salary").prop('selectedIndex', 3);
        {% elif salary == "5" %}
            $("#Salary").prop('selectedIndex', 4);
        {% elif salary == "10" %}
            $("#Salary").prop('selectedIndex', 5);
        {% endif %}
    });
</script>
<script>
    $(function() {
        {% if type == "any" %}
            $("#parttime").prop('selectedIndex', 0);
        {% elif type == "part" %}
            $("#parttime").prop('selectedIndex', 1);
        {% elif type == "full" %}
            $("#parttime").prop('selectedIndex', 2);
        {% endif %}
    });
</script>
<script>
  $( function() {
    var availableTags = [
        {% for location in locations %}
            "{{ location.location }}",
        {% endfor %}
    ];
    $( "#searchLocation" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
  <script>
  $( function() {
    var availableTags = [
        {% for company in companies %}
            "{{ company.name }}",
        {% endfor %}
    ];
    $( "#searchCompany" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
<body>

    <!-- Navbar Started -->
    {% include "components/navbar.html" with is_authenticated=is_authenticated role=role %}
    <!-- Navbar Ended -->

    <!-- STARTED SEARCH BAR -->
    <div class="bannerjob">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="check">    
                        <h2>Search a Suitable Jobs as Per Your Requirement </h2>
                    </div>
                </div>
                <div class="container">
                    <div class="row">               
                        <div class="col-sm-5" style="padding-right: 0px; padding-left: 0px">
                            <input type="text" id="search" value="{{ search }}" placeholder="Job Title, Skills, Designation"class="inputbox11">
                        </div>
                        <div class="col-sm-3" style="padding-right: 0px; padding-left: 0px">
                            <input type="text" id="locationinput" value="{{ location }}" placeholder="Location" class="inputbox11">
                        </div> 
                        <div class="col-sm-2" style="padding-right: 0px; padding-left: 0px">
                            <button class="jobbutton" onclick="search_job('{% url 'job-list' %}')">JOB SEARCH</button>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    <!-- end of STARTED SEARCH BAR -->
    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">

                    <!-- STARTED FILTER SECTION -->
                    <div class="col-sm-4">
                        <div class="filter">
                            <ul>
                                <li>ALL FILTER</li>
                                <li><img src="{% static 'images/filter.png' %}"></li>
                            </ul>
                            <button class="accordion">Experience</button>
                            <div class="panel">
                                <div class="fresherselect">
                                    <select class="op" id="Experience">
                                        <option value="any">Any</option>
                                        <option value="0">Fresher</option>
                                        <option value="1">1+ year</option>
                                        <option value="2">2+ year</option>
                                        <option value="3">3+ year</option>
                                        <option value="5">5+ year</option>
                                        <option value="10">10+ year</option>
                                    </select>

                                </div>
                            </div>
                            <!--<button class="accordion">Location</button>
                            <div class="panel">
                                <div class="fresherselect" style="height: 55px; padding-top: 5px;">
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{ location }}" id="searchLocation" placeholder="search location" style="width: 300px">
                                    </div>
                                </div>
                            </div>-->
                            <button class="accordion">Salary</button>
                            <div class="panel">
                                <div class="fresherselect">
                                    <select class="op" id="Salary">
                                        <option value="any">Any</option>
                                        <option value="1">1+ LPA</option>
                                        <option value="2">2+ LPA</option>
                                        <option value="3">3+ LPA</option>
                                        <option value="5">5+ LPA</option>
                                        <option value="10">10+ LPA</option>
                                    </select>
                                </div>
                            </div>
                            <button class="accordion">Job Type</button>
                            <div class="panel">
                                <div class="fresherselect">
                                    <select class="op" id="parttime">
                                        <option value="any">Any</option>
                                        <option value="part">Part time jobs only</option>
                                        <option value="full">Full time jobs only</option>
                                    </select>
                                </div>
                            </div>
                            <button class="accordion">Posted by</button>
                            <div class="panel">
                                <div class="fresherselect" style="height: 55px; padding-top: 5px;">
                                    <div class="form-group">
                                        <input type="text" class="form-control" value="{{ company }}" id="searchCompany" placeholder="search Company" style="width: 300px">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" onclick="filter('{% url 'job-list' %}', {{ paginator.number }})" style="padding: 5px 20px; background-color: #ffd102; color: black; float: right; margin-right: 10px; margin-bottom: 10px;">Filter</button>
                        </div>
                    </div>
                    <!-- end of STARTED FILTER SECTION -->

                    <!-- STARTED JOB SECTION -->
                    <div class="col-sm-8">
                        {% for job in jobs %}
                            {% include "components/job-post.html" with job=job %}
                        {% endfor %}
                    
                        {% if hasobjects %}
                            <nav style="text-align: center">
                                <ul class="pagination justify-content-center">
                                    {% if paginator.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="javascript: filter('{% url 'job-list' %}', {{ paginator.previous_page_number }})">
                                                Previous
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                                        </li>
                                    {% endif %}
                                    
                                    <li class="page-item">
                                        <a class="page-link" href="javascript: filter('{% url 'job-list' %}', {{ paginator.number }})">
                                            {{ paginator.number }}
                                        </a>
                                    </li>
                                    {% if paginator.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="javascript: filter('{% url 'job-list' %}', {{ paginator.next_page_number }})">
                                                Next
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% else %}
                            <h4 style="text-align: center; margin-top: 100px">No Jobs</h4>
                        {% endif %}
                    </div>
                    <!-- end of STARTED JOB SECTION -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end of STARTED MAIN SECTION -->

<!-- FOOTER STARTED -->
{% include "components/footer.html" %}
<!-- END FOOTER -->

<script>
                    var acc = document.getElementsByClassName("accordion");
                    var i;

                    for (i = 0; i < acc.length; i++) {
                      acc[i].addEventListener("click", function() {
                        this.classList.toggle("active1");
                        var panel = this.nextElementSibling;
                        if (panel.style.maxHeight) {
                          panel.style.maxHeight = null;
                        } else {
                          panel.style.maxHeight = panel.scrollHeight + "px";
                        }
                      });
                    }
</script>
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
<script src="{% static 'js/BsMultiSelect.bs4.min.js' %}"></script>
<script src="{% static 'js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'js/filter-jobs.js' %}"></script>
<script src="{% static 'js/job-apply.js' %}"></script>
<script>
   jQuery(document).ready(function(){
       jQuery('.row .menu').meanmenu();
});

</script>
<script>
    function pagination(page){
        url = window.location.href;
        if (url.includes("page")){
            url = url.replace("page=", "page=" + page);
            console.log("sss");
        }
        else if (url.substr(url.length - 9) === "jobs-list"){
            url = url + "?page=" + page;
            console.log("ss");
        }
        else{
            url = url + "&page=" + page;
            console.log("s");
        }
        window.location.href = url;
    }
</script>
</body>
</html>
