<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="#" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/media.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/slider.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/animate.min.css'} %"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/jquery-1.7.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.flexisel.js' %}"></script>
    <title>jobs</title>
</head>

<body>

<!-- Navbar Started -->
{% include "components/navbar.html" with is_authenticated=is_authenticated role=role %}
<!-- Navbar Ended -->

<!-- STARTED MAIN SECTION -->
<div class="profilejobbanner">

    <!-- STARTED SEARCH BAR -->
    <div class="bannerjob">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <div class="profiletext1">
                        <input type="text" placeholder="Search">
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="fitterbtn">
                        <button>Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of STARTED SEARCH BAR -->

    <div class="container">
        <div class="row">
            <div class="container">
                <div class="row">

                    <!-- STARTED FILTER SECTION -->
                    <div class="col-sm-4">
                        <div class="filter">
                            <ul>
                                <li>ALL FILTER</li>
                                <li><img src="{% static 'images/filter.png' %}"</li>
                            </ul>
                            <button class="accordion">fresher</button>
                            <div class="panel">
                                <div class="fresherselect">
                                    <select class="op">
                                        <option>0 - 1 year</option>
                                        <option>0 - 1 year</option>
                                        <option>0 - 1 year</option>
                                        <option>0 - 1 year</option>
                                        <option>0 - 1 year</option>
                                    </select>

                                </div>
                            </div>
                            <button class="accordion">Location</button>
                            <div class="panel">
                                <div class="fresherselect">
                                    <div class="typ" style="width:20%;
                                                float: left;
                                                margin-top: 4px;
                                            ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="typ">
                                        <p style="font-size: 13px; cursor: pointer;padding: 0px;
                                                    margin-top: 5px;
                                                ">Gwalior</p>
                                    </div>
                                    <div class="typ" style="width:20%;
                                                float: left;
                                                margin-top: 4px;
                                            ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="typ">
                                        <p style="font-size: 13px; cursor: pointer;padding: 0px;
                                                    margin-top: 5px;
                                                ">Delhi</p>
                                    </div>
                                    <div class="typ" style="width:20%;
                                                float: left;
                                                margin-top: 4px;
                                            ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="typ">
                                        <p style="font-size: 13px; cursor: pointer;padding: 0px;
                                                    margin-top: 5px;
                                                ">Bhopal</p>
                                    </div>
                                    <div class="typ" style="width:20%;
                                                float: left;
                                                margin-top: 4px;
                                            ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="typ">
                                        <p style="font-size: 13px; cursor: pointer;padding: 0px;
                                                    margin-top: 5px;
                                                ">Indore</p>
                                    </div>
                                    <div class="typ" style="width:20%;
                                                float: left;
                                                margin-top: 4px;
                                            ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="typ">
                                        <p style="font-size: 13px; cursor: pointer;padding: 0px;
                                                    margin-top: 5px;
                                                ">Delhi</p>
                                    </div>
                                    <div class="typ" style="width:20%;
                                                float: left;
                                                margin-top: 4px;
                                            ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="typ">
                                        <p style="font-size: 13px; cursor: pointer;padding: 0px;
                                                    margin-top: 5px;
                                                ">Delhi</p>
                                    </div>
                                </div>
                            </div>
                            <button class="accordion">Salary</button>
                            <div class="panel">
                                <div class="fresherselect">
                                    <select class="op">
                                        <option>0 - 1 lakhs</option>
                                        <option>1 - 2 lakhs</option>
                                        <option>3 - 4 lakhs</option>
                                        <option>gwalior</option>
                                        <option>gwalior</option>
                                    </select>
                                </div>
                            </div>
                            <button class="accordion">Experience</button>
                            <div class="panel">
                                <div class="fresherselect">
                                    <select class="op">
                                        <option> 0- 1 year</option>
                                        <option>1- 2 year</option>
                                        <option>2- 3year</option>
                                    </select>
                                </div>
                            </div>
                            <button class="accordion">Experience</button>
                            <div class="panel">
                                <div class="fresherselect">
                                    <select class="op">
                                        <option> 0- 1 year</option>
                                        <option>1- 2 year</option>
                                        <option>2- 3year</option>
                                    </select>
                                </div>
                            </div>
                            <button class="accordion">Job Type</button>
                            <div class="panel">
                                <div class="fresherselect">
                                    <div class="typ" style="width:20%;
                                                float: left;
                                                margin-top: 14px;
                                            ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="typ">
                                        <p style=" cursor: pointer;font-size: 13px;
                                                    margin-top: 5px;
                                                ">All Job</p>
                                    </div>
                                    <div class="typ" style="width:20%;
                                                float: left;
                                                margin-top: 0px;
                                            ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="typ">
                                        <p style="font-size: 13px; cursor: pointer;padding: 0px;
                                                    margin-top: 5px;
                                                ">Premium Engg</p>
                                    </div>
                                </div>
                            </div>
                            <button class="accordion">Posted by</button>
                            <div class="panel">
                                <div class="fresherselect">
                                    <div class="typ" style="width:20%;
                                                float: left;
                                                margin-top: 4px;
                                            ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="typ">
                                        <p style="font-size: 13px; cursor: pointer;padding: 0px;
                                                    margin-top: 5px;
                                                ">Company Jobs(254)</p>
                                    </div>
                                    <div class="typ" style="width:20%;
                                                float: left;
                                                margin-top: 4px;
                                            ">
                                        <input type="checkbox">
                                    </div>
                                    <div class="typ">
                                        <p style="font-size: 13px; cursor: pointer;padding: 0px;
                                                    margin-top: 5px;
                                                ">Company Jobs(254)</p>
                                    </div>
                                </div>
                            </div>
                            <button class="accordion">Education</button>
                            <div class="panel">
                                <div class="fresherselect">
                                    <select class="op">
                                        <option> Post Graduation (180</option>
                                        <option>1- 2 year</option>
                                        <option>2- 3year</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of STARTED FILTER SECTION -->

                    <!-- STARTED JOB SECTION -->
                    <div class="col-sm-8">
                        <div class="profilebanner1">
                            <div class="jobfill1">
                                <a href="#" style="color: #007bff;font-size: 16px;">Excellent Opportunity For Gradute
                                    Fresher/Back Office/Night Shifts</a>
                            </div>
                            <div class="jobfill1">
                                <a href="#">COFORGE LIMITED</a>
                            </div>
                            <div class="jobicon">
                                <div class="jobpic1">
                                    <img src="{% static 'images/jobbag.png' %}">
                                </div>
                                <div class="jobtext111">
                                    <h6>0-2 YEAR</h6>
                                </div>
                                <div class="jobpic">
                                    <img src="{% static 'images/marker.png' %}">
                                </div>
                                <div class="jobtext111">
                                    <h6>Noida Ncr</h6>
                                </div>
                                <div class="jobpic">
                                    <img src="{% static 'images/Time.png' %}">
                                </div>
                                <div class="jobtext111">
                                    <h6>Shift</h6>
                                </div>
                            </div>
                            <div class="jobicon">
                                <div class="jobpic1">
                                    <img src="{% static 'images/staff.png' %}">
                                </div>
                                <div class="jobtext11">
                                    <h6>Customer Service,Problem Solving,Production Planning, Opertions</h6>
                                </div>
                            </div>
                            <div class="jobicon">
                                <div class="jobpic">
                                    <img src="{% static 'images/notepad.png' %}">
                                </div>
                                <div class="jobtext11">
                                    <h6>Intersted candidates- good in spoken English con mail their resume at
                                        anika.munjal@gmail.com</h6>
                                </div>
                            </div>
                            <div class="jobicon">
                                <div class="jobpic">
                                    <img src="{% static 'images/wallet.png' %}">
                                </div>
                                <div class="jobtext1">
                                    <h6>1203400 -234567799 pa</h6>
                                </div>
                                <span class="send" id="Similar">
                                    <a href="joddetail.html" style="font-size: 14px;">View Details</a>
                                </span>
                                <span style="font-weight: 700;"><a href="joddetail.html">Apply</a></span>
                            </div>
                        </div>
                    </div>
                    <!-- end of STARTED JOB SECTION -->

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end of STARTED MAIN SECTION -->

<!-- FOOTER STARTED -->
{% include "components/footer.html" %}
<!-- END FOOTER -->

<script>
                    var acc = document.getElementsByClassName("accordion");
                    var i;

                    for (i = 0; i < acc.length; i++) {
                      acc[i].addEventListener("click", function() {
                        this.classList.toggle("active1");
                        var panel = this.nextElementSibling;
                        if (panel.style.maxHeight) {
                          panel.style.maxHeight = null;
                        } else {
                          panel.style.maxHeight = panel.scrollHeight + "px";
                        }
                      });
                    }
</script>

<script src="js/jquery.meanmenu.js"></script>
<script>
   jQuery(document).ready(function(){
       jQuery('.row .menu').meanmenu();
});

</script>
</body>
</html>
