{% load static %}
<div class="fotter">
        <div class="container">
        <img src="{% static 'images/logo2.png' %}" style="width: 250px; margin-top: 20px;">
            <div class="row">
                <div class="col-sm-3">
                    <div class="quick">
                        <div class="logo1">
                            <p style="color:#fff ;color: #fff; line-height: 25px; text-align: justify; margin-top: 7%">
                                Cromana has established itself as a well-known name in the HR 
                                field by providing a wide range of recruitment and selection 
                                services to various companies. 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"  style="padding-left: 5%; padding-top: 8px">
                    <div class="quick">
                        <h4>QUICK LINKS</h4>
                        <ul>
                            <li><a href="index.html">HOME</a></li>
                            <li><a href="jobs.html">JOBS</a></li>
                            <li><a href="uploderesume.html">Build Resume</a></li>
                            <li><a href="company.html">COMPANIES</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3" style="">
                    <div class="quick">
                        <h4>TERNS & CONDITION</h4>
                        <ul>
                            <li><a href="security.html">SECURITY & FRAUD</a></li>
                            <li><a href="policy.html">PRIVACY POLICY</a></li>
                            <li><a href="ad.html">ADVERTISE WITH US</a></li>
                            <li><a href="complaint.html">WRITE US</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3" style="">
                    <div class="quick">
                        <h4>CONTACT US</h4>
                        <div class="row" style="width: 100%; ">
                            <div class="col-3" style="height: 30px; margin: 0px; "><img src="{% static 'images/mobile.png' %}" height="28px"></div>
                            <div class="col" style="color: white; margin-top: 2px; padding: 0px; font-size: 15px">(+91)9877654321</div>
                        </div>
                        <div class="row" style="width: 100%; margin-top: 10px;">
                            <div class="col-3" style="height: 30px; margin: 0px; "><img src="{% static 'images/email.png' %}" height="28px"></div>
                            <div class="col" style="color: white; margin-top: 2px; padding: 0px; font-size: 15px">WWW@gamil.com</div>
                        </div>
                        <div class="row" style="width: 100%; margin-top: 10px;">
                            <div class="col-3" style="height: 30px; margin: 0px; "><img src="{% static 'images/location.png' %}" height="28px"></div>
                            <div class="col" style="color: white; margin-top: 2px; padding: 0px; font-size: 15px">Ram Nagar 220 f<br>Gwalior(M.P.)</div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
