{% load static %}
<div style="padding: 20px; border-radius: 8px; width: 100%; margin: 30px auto; background-color: white; box-shadow: 0px 6px 5px #a3a3a3;">
    <div>
        <a href="{% url 'job-view' job.id %}" style="text-decoration: none; font-size: 18px; color: #007bff">{{ job.title }}</a>
    </div>
    <div>
        <a href="#" style="color: black; text-decoration: none;">{{ job.company_name }}</a>
    </div>
    <div class="row" style="margin-left: -5px; margin-top: 8px">
        <div class="col-sm">
            <img style="float: left; margin-right: 10px;" width="20px" src="{% static 'images/jobbag.png' %}">
            <h6>{{ job.experience }} year</h6>
        </div> 
        <div class="col-sm">
            <img style="float: left; margin-right: 10px;" width="20px" src="{% static 'images/marker.png' %}">
            <h6>{{ job.location }}</h6>
        </div>
        <div class="col-sm-4">
            <img style="float: left; margin-right: 10px;" width="20px" src="{% static 'images/Time.png' %}">
            <h6>Shift: {{ job.shift_timing }}</h6>
        </div>
        <div class="col-sm">
            <img style="float: left; margin-right: 10px;" width="20px" src="{% static 'images/wallet.png' %}">
            <h6><b>{{ job.package }} LPA</b></h6>
        </div>
    </div>
    <div style="margin-left: 10px; margin-top: 8px;">
        <img style="float: left; margin-right: 10px;" width="20px" src="{% static 'images/staff.png' %}">
        <h6>{% for skill in job.skills %}
                {{ skill.skill }},
            {% endfor %}</h6>
        <img style="float: left; margin-right: 10px;" width="20px" src="{% static 'images/notepad.png' %}">
        <h6>{{ job.role_responsibility|safe }}....</h6>
    </div>
    <div class="row" style="padding: 5px;">
        <div class="col">
            <button class="btn btn-outline-primary" id="saved_button_{{ job.id }}" onclick="job_saved({{ job.id }}, '{% url 'save-job' %}')" style="padding: 5px 20px; border-color: black; color: black">Save</button>
        </div>
        <div class="col" style="text-align: right">
            <button class="btn btn-primary" id="apply_button_{{ job.id }}" onclick="job_apply({{ job.id }}, '{% url 'apply-job' %}')" style="padding: 5px 20px; background-color: #ffd102; color: black;">Apply</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <label style="color: #A0A0A0; font-size: 13px">
                Posted: {{ job.created_at }}
                &nbsp;&nbsp;&nbsp;
                Openings: {{ job.no_of_opening }}
            </label>
        </div>
        <div class="col-4" style="text-align: right">
            <a href="{% url 'job-view' job.id %}" style="text-decoration: none; font-weight: bold;">View Details</a>
        </div>
    </div>
</div>